<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the locations_init() hook (in hooks/locations.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

<td id="locations-product-<%%VALUE(id)%%>" class="locations-town"><%%SELECT%%><%%VALUE(product)%%><%%ENDSELECT%%></td>
<td id="locations-brand-<%%VALUE(id)%%>" class="locations-estate"><%%SELECT%%><%%VALUE(brand)%%><%%ENDSELECT%%></td>
<td id="locations-mobile-<%%VALUE(id)%%>" class="locations-point"><%%SELECT%%><%%VALUE(mobile)%%><%%ENDSELECT%%></td>
